.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    padding: 11px 20px;
    width: 100%;


    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;


    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;



    div {
        display: flex;
    }
}


.hintColor {
    background: rgba(116, 116, 128, 0.08) !important;
    color: var(--text-color) !important;

    svg {
        fill: var(--text-color);

        path {
            fill: var(--text-color);
        }
    }
}

.deleteButton {
    background: var(--bg-color) !important;
    color: var(--destructive-color) !important;

    svg {
        fill: var(--destructive-color);

        path {
            fill: var(--destructive-color);
        }
    }
}

.linkColor {
    background: var(--link-color) !important;
    color: var(--bg-color) !important;

    svg {
        fill: var(--bg-color);

        path {
            fill: var(--bg-color);
        }
    }
}