.card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    background: var(--bg-color);
    position: relative;

    &:not(:last-child):after {
        content: "";
        position: absolute;
        left: 20%;
        bottom: 0;
        width: 150%;
        margin-top: 5px;
        height: 1px;
        background-color: var(--separator-color);
        display: block;
        border-radius: 10px;
        opacity: 0.5;
    }
}

.image {
    width: 56px;
    height: 56px;
    border-radius: 12px;
    background: #ddd;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-bottom: 2px;
}

.address {
    font-size: 14px;
    color: #888;
}