.menu {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: -100%;
    max-width: 300px;
    width: fit-content;
    min-height: 100vh;
    background: var(--bg-color);
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
    z-index: 100;
    padding: 16px;
    overflow: hidden;
    padding-top: max(100px, var(--tg-safe-area-inset-top, 50px) + 10px);
    padding-bottom: max(50px, var(--tg-safe-area-inset-bottom, 50px));

    .logo {
        display: flex;
        justify-content: space-between;

        img {
            border-radius: 50px;
            width: 60px;
            height: 60px;
            object-fit: cover;
        }

        .bells {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 44px;
            height: 44px;
            background: color-mix(in srgb, var(--hint-color), transparent 90%);


            svg {
                stroke: var(--text-color);

                path {
                    stroke: var(--text-color);
                }
            }
        }

    }

    .companyInfo {
        padding-top: 20px;
        padding-bottom: 20px;

        .companyName {
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            letter-spacing: -0.01em;
            color: var(--text-color);

        }

        span {
            font-family: var(--font5);
            font-weight: 500;
            font-size: 12px;
            line-height: 118%;
            letter-spacing: -0.01em;
            color: var(--hint-color);
            padding-top: 5px;

            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    .dropMenu {
        &::after {
            content: "";
            width: 100%;
            margin-top: 20px;
            height: 1px;
            background-color: var(--separator-color);
            display: block;
            border-radius: 10px;
            opacity: 0.5;
        }

    }

    .menuList {
        padding-top: 16px;
    }

    .logOut {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: auto;

        .logOutIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 44px;
            height: 44px;
            background: color-mix(in srgb, var(--hint-color), transparent 90%);


            svg {
                stroke: var(--text-color);

                path {
                    stroke: var(--text-color);
                }
            }

            div {
                display: flex;
            }
        }

        span {
            font-family: var(--font5);
            font-weight: 500;
            font-size: 17px;
            line-height: 118%;
            letter-spacing: -0.01em;
            color: var(--text-color);
        }
    }
}



.open {
    left: 0 !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 99;
    pointer-events: none;
}

.overlayVisible {
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    pointer-events: unset;

}

.bells {
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.bellContainer {
    position: relative;
    display: inline-block;
}

.ringing {
    animation: ring 0.5s ease-in-out infinite alternate;
    transform-origin: top center;
}

.infoText {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    animation: fadeIn 0.3s ease-in-out;
    z-index: 10;
}

@keyframes ring {
    0% {
        transform: rotate(-5deg) scale(1.1);
    }

    100% {
        transform: rotate(5deg) scale(1.2);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}