.addComment__textArea {
    textarea {
        width: 100%;
        border: none;
        resize: none;

        background: var(--bg-color);
        color: var(--text-color);
        border-radius: 16px;
        padding: 16px 12px;


        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        letter-spacing: -0.02em;

        &:focus {
            outline: none;
            border-color: #007bff;
        }

        &::placeholder {
            color: var(--hint-color);
        }
    }

    &__progress {
        margin-top: 10px;
        gap: 8px;
        width: 100%;

        .progress-indicator {
            position: relative;
            width: 100%;
            height: 5px;
            background-color: color-mix(in srgb, var(--hint-color), transparent 80%);
            border-radius: 5px;
            overflow: hidden;
        }

        .progress-bar {
            height: 100%;
            width: 0%;
            transition: width 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
            border-radius: 5px;
        }

        .progress-bar.low {
            background-color: #ff3b30;
        }

        .progress-bar.medium {
            background-color: #ff9500;
        }

        .progress-bar.nice {
            background-color: #fc0;
        }

        .progress-bar.good {
            background-color: #34c759;
        }

        .progress-message {
            font-family: var(--font-family);
            margin: 16px 0;
            font-weight: 400;
            font-size: 12px;
            line-height: 133%;
            letter-spacing: -0.03em;
            color: var(--hint-color);

            &.empty {
                color: #aaa;
            }
        }
    }
}