.pinCode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    height: 100%;
    background-color: var(--bg-color);
}

.title {
    font-size: 18px;
    margin-bottom: 20px;
}

.dots {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.dots span {
    width: 12px;
    height: 12px;
    border: 0.5px solid var(--hint-color);
    border-radius: 50%;
    background: var(--bg-color);
    transition: background 0.3s;
}

.dots .filled {
    background: var(--hint-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.button {
    width: 77px;
    height: 77px;
    border-radius: 50%;
    border: none;
    background: rgba(118, 118, 128, 0.12);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.letters {
    display: block;
    font-size: 12px;
    color: #888;
    margin-top: 3px;
}

.button:active {
    background: #ddd;
}