@font-face {
    src: url("../assets/fonts/SFProText-Heavy.ttf");
    font-family: "SF Pro Text";
    font-weight: 900;
}

@font-face {
    src: url("../assets/fonts/SFProText-Bold.ttf");
    font-family: "SF Pro Text";
    font-weight: 700;
}

@font-face {
    src: url("../assets/fonts/SFProText-Semibold.ttf");
    font-family: "SF Pro Text";
    font-weight: 600;
}

@font-face {
    src: url("../assets/fonts/SFProText-Medium.ttf");
    font-family: "SF Pro Text";
    font-weight: 500;
}

@font-face {
    src: url("../assets/fonts/SFProText-Regular.ttf");
    font-family: "SF Pro Text";
    font-weight: 400;
}

@font-face {
    src: url("../assets/fonts/SFProText-Light.ttf");
    font-family: "SF Pro Text";
    font-weight: 300;
}